<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max.tang.demokiller">

  <!-- To auto-complete the email text field in the login form with the user's emails -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.READ_PROFILE"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <receiver
      android:name=".utils.ConnectionChangeReceiver"
      android:label="NetworkConnection">
    <intent-filter>
      <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
    </intent-filter>
  </receiver>

  <!-- To access Google+ APIs: -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".MyApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".activity.LoginActivity"
        android:label="@string/title_activity_login">
    </activity>
    <activity android:name=".activity.WatchActivity">
    </activity>
    <activity
        android:name=".main.activity.NavigationActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar.Launcher">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="stockholm"
            android:host="www.tanggod.com"/>
      </intent-filter>

    </activity>

    <activity-alias
        android:name=".MainAliasActivity"
        android:enabled="false"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:targetActivity=".main.activity.NavigationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity-alias>

    <activity
        android:name=".activity.DemoDataBindingActivity"
        android:label="@string/title_activity_demo_data_binding">
    </activity>
    <activity android:name=".activity.RxActivity">
    </activity>
    <activity
        android:name=".activity.SortActivity"
        android:label="@string/sort_demo">
      <intent-filter>
        <action android:name="com.max"/>

        <data android:scheme="type"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name=".activity.DeviceActivity">
    </activity>
    <activity android:name=".activity.CustomViewActivity">
    </activity>
    <activity android:name=".RxBinding.RxBindingActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="stockholm"
            android:host="com.ebuilder"/>
      </intent-filter>

    </activity>
    <activity android:name=".activity.DemoNotification">
    </activity>
    <activity
        android:name=".activity.CoordinatorLayoutActivity"
        android:label="@string/title_activity_coordinator_layout"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".activity.MessActivity"
        android:label="@string/title_activity_mess"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <service android:name=".service.DemoService">
    </service>

    <activity android:name=".activity.ListViewDemo">
    </activity>
    <activity
        android:name=".mygithub.activity.MyGithubActivity"
        android:label="@string/title_activity_my_github"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
  </application>

</manifest>